<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css" type="text/css"/> 

        <title>Workshop Registration</title>
     <link rel="icon" type="image/png" href="/static/img/ia.png" sizes="32x32">

  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            #header .brand img{
                width: 30px;
                height: 30px;
                margin: 0 15px;
                margin-top: 8px;
               }
               @media only screen and (min-width: 768px){
                #header .brand img{
                    width: 50px;
                height: 50px;
                margin: 0 30px;
                margin-top: 13px;
                   }
                }
         </style>
    </head>
    <body>
        <section id="header">
            <div class="header container">
                
                <div class="nav-bar">
                    
                    <div class="brand">
                        <img src="/static/img/ia.png">
                        <h1><span>DSC </span>JIIT128 <span></span></h1>
                      
                       
                            
                    </div>
                    <div class="nav-list">
                        <div class="hamburger"><div class="bar"></div></div>
                        <ul>
                            
                          
                            <li><a href="/login" data-after="Contact"><font color="yellow"> Sign in</font></a></li>
                            <li><a href="/register" data-after="Contact"><font color="yellow"> Sign Up</font></a></li>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="clad">
            <div class="clad container">
                <div>
                    <h1>Register for Workshop<span></span></h1>
                    
                   
                </div>
            </div>
        </section>
        
        <section id="services">
            <div class="services container">
                <div class="service-top">
                    
                    <h1><font size="50"><font color="red">Goodies and Voucher to be Won!</font></h1> 
                </div>
            </div>
        </section>
     
        
        
        <section id="projects">
           <br><br><br> <center><font color="yellow"><font size="100">What are you Waiting For?</font></center>
            <div class="projects container">
               
                <div class="ani-bottom">
                 <div class="ani-container"></div> 
                 
             </div>
            </div>
        </section>
        
       
        
        <section id="footer">
            <div class="footer container">
                <div class="brand"><h1><span>P</span>iyush <span>K</span>umar</h1></div>
                <h2>Register Now!</h2>
                <div class="social-icon">
                    <div class="social-item">
                        <a href="https://www.instagram.com/piyushkumarrrrrrrr/"><img src="https://img.icons8.com/carbon-copy/200/fa314a/instagram-new.png"/></a>
                    </div>
                     <div class="social-item">
                        <a href="https://twitter.com/PiyushK06151933"><img src="https://img.icons8.com/carbon-copy/200/fa314a/twitter.png"/></a>
                    </div>
                     <div class="social-item">
                        <a href="https://www.linkedin.com/in/piyush-kumar-a32599111/"><img src="https://img.icons8.com/carbon-copy/200/fa314a/linkedin.png"/></a>
                    </div>
                </div>
                <p>Copyright © 2021 Piyush Kumar - All Rights Reserved</p>
            </div>
        </section>
        <script src="/static/js/web.js"></script>
    </body>

</html>
