<html>
   <head>
           Login
       </title> 
       
       
       
       
   </head>
   <body>
       <form name="s1" method="post" action="/login">
        {% csrf_token %}
           <section id="back">
       <div class="container">
           <div class="card">
              <input type="text" required="required"placeholder="Name" id="name"name="Full name"><br>
              <input type="text" required="required"placeholder="Batch" id="batch"name="Batch"><br>
              <input type="number" required="required"placeholder="enrollno" id="enrollno"name="Enrollment Number"><br>
              <input type="text" required="required" placeholder="branch" id="branch"name="branch"><br>
              <input type="password" required="required" placeholder="Password" id="name"name="password"><br>
               
               <a href=' # '><font color="black"> Forgot Password</font> </a><br>
                <input type="submit" value="Login" id="button"><br><br>
                <left><font color="black">Workshop SignUp </font> <a href='#'><font color="black">Here</font> </a></left>
                    

                
               
           </div>
           
           
           
       </div> 
           
                
       
        </section>           
       </form>
       
   </body>
    
    
    
    
    
    
    
    
</html>