<html>
   <head>
        <link rel="stylesheet" href="/static/css/style.css" type="text/css"/> 
       <title>
           login | DSC JIIT128
       </title> 
       <link rel="icon" type="image/png" href="/static/img/ia.png" sizes="32x32">
   <h1 class="section-title"><span>Workshop</span><font color="white">Registerations</font></h1>
   
       <style>
           
body{
margin:0;
padding:0;


  
    background: url(/static/img/dy.png) no-repeat center center fixed;
                     background-size:cover; 
                     background-color: black;
} 

</style>
    
<body>
    <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
    
</html>